<!-- ======= Footer ======= -->
<footer id="footer">
    
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-contact">
            <h3>PrepFAST</h3>
            <p>
              FAST NUCES <br>
              Faisal Town, Lahore<br>
              Pakistan <br><br>
              <strong>Phone:</strong> +92 333 4455667<br>
              <strong>Email:</strong> prepFast@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li class="m-2 p-0"><i class="bx bx-chevron-right"></i> <a href="{% url 'home' %}">Home</a></li>
              <li class="m-2 p-0"><i class="bx bx-chevron-right"></i> <a href="{% url 'ai' %}">AI</a></li>
              <li class="m-2 p-0"><i class="bx bx-chevron-right"></i> <a href="{% url 'resources' %}">Resources</a></li>
              <li class="m-2 p-0"><i class="bx bx-chevron-right"></i> <a href="{% url 'sharing' %}">Sharing</a></li>
              <li class="m-2 p-0"><i class="bx bx-chevron-right"></i> <a href="{% url 'forum' %}">Discussion</a></li>
              <li class="m-2 p-0"><i class="bx bx-chevron-right"></i> <a href="{% url 'profile' %}">Profile</a></li>
              <li class="m-2 p-0"><i class="bx bx-chevron-right"></i> <a href="{% url 'contact' %}">Contact</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    
    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>PrepFAST</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer>
  <!-- End Footer -->
